node_modules

.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md

assets/**
**/*.vsix
lib/**
.git/**
.github/**
package-lock.json
tslint.json
